.linktree-container{
    position: fixed;
    top: 150px;
    right: 100px;
    /* left: 50px; */
    background-color: #162225;
    z-index: 2000;
    padding: 20px;
    color: rgb(139, 139, 139);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
     /* border: 0.5px solid white; */

}

.linktree-container ul{
    list-style: none;
}

.linktree-container ul li{
    background-color: #455e65;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 50px;
    cursor: pointer;
    transition: all ease-in 0.07s;
}

.linktree-container ul li:hover{
    transform: translateY(-2px);
}

.linktree-container a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
}