.team-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-top: 170px;
}

.team-background{
  position: relative;
}

.team-background::before{
  content: "";
  position: absolute;
  /* background: url(/src/assets/team.jpg); */
  background-size: cover;
  background-position:50% 35%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.02;
}


.top-slides-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  /* margin: 0 20px; */
}

.team-container .team-title {
  color: white;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.floating-left {
  position: absolute;
  width: 500px;
  left: -185px;
  top: -180px;
  z-index: -1;
  /* display: none; */
}

.floating-right {
  position: absolute;
  width: 350px;
  top: -130px;
  right: -120px;
  z-index: -1;
}

.team-container hr {
  border: none;
  height: 1px;
  max-width: 900px;
  width: 80%;
  background-color: #656b6c;
  margin: 50px 0;
}

.season-content {
  color: #64aaa1;
  /* padding: 20px 0 0px 0; */
}

.season-about h1{
  font-size: 28px;
  margin-bottom: 10px;
}

.season-content p{
  color: white;
}



.competitions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}


.competition img{
  height: 100px;
  clip-path: circle();
}

.competition {
  padding: 15px;
}


.competition h1{
  font-size: 20px;
  margin-bottom: 0;
}

.competition p{
  font-size: 12px;
}

.competition-details{
  display: flex;
  flex-direction:column;
  line-height: 2;
}

.season-content{
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 100px 50px;
  line-height: 35px;
}

.competition .placement{
  color: #dab420;
}

.soundcloud-player{
  font-size: 10px;
   color: #d818c27b;
   line-break: anywhere;
   word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.soundcloud-player a{
  color: white;
  text-decoration: none;
}


.soundcloud-container{
  margin: 50px 0 150px;
  
}

@media (max-width: 1000px) {
  /* .top-slides-display {
    transform: scale(0.7);
  } */
}

@media (max-width: 900px) {
  .team-container .team-title {
    color: white;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  .floating-left {
    position: absolute;
    width: 280px;
    left: -107px;
    top: -110px;
    z-index: -1;
  }

  .floating-right {
    position: absolute;
    width: 175px;
    top: -70px;
    right: -55px;
    z-index: -1;
  }
}
