.slider {
  width: 700px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 450px;
  display: flex;
  position: relative;
  object-fit: cover;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 700px;
  height: 450px;
  object-fit: cover;
}

.navigation-manual {
  position: absolute;
  width: 700px;
  bottom: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #63aaa1;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #2c968d;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* CSS for automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 700px;
  justify-content: center;
  bottom: 0;
  margin-bottom: 20px;
}

.navigation-auto div {
  border: 2px solid #2c968d;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s ease-in;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #2c968d;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #2c968d;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #2c968d;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #2c968d;
}

.slider-border {
  border: 3px solid #63aaa1;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 500px) {
  .slider {
    width: 350px;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 225px;
    display: flex;
    position: relative;
    object-fit: cover;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 20%;
    transition: 2s;
  }

  .slide img {
    width: 350px;
    height: 225px;
    object-fit: cover;
  }

  .navigation-manual {
    position: absolute;
    width: 350px;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid #63aaa1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
  }
}
